@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
.card-header {
    padding: 27px 0 18px 31px;
    margin: 0;
    font-size: 2em;
    color: #fff;
    background: #00008f;
}

/* .select2-selection__rendered, */

.form1-input {
    display: inline-block;
    width: 100%;
    padding: 16px;
    font-size: 1.125rem;
    border: 1px solid #999;
    z-index: 1;
}

.select2 {
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 52px !important;
    font-size: 1.2em;
    color: #000;
    font-weight: 400;
}

.select2-container .select2-selection--single {
    height: 56px !important;
    border: 1px solid #999 ;
    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 15px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    position: absolute;
    top: -56px;
    left: 0px;
    height: 56px;
}
.select2-search__field:focus{
    outline: none;
}
.form-label {
    font-family: Source Sans Pro, Arial, sans-serif;
    margin-bottom: 8px;
    font-size: 1.2em;
    color: #000;
    font-weight: 600;
    margin-top: 15px;
}

.form-label-sm {
    font-size: 0.9em;
    color: #827c7c;
    font-weight: 700;
}

.quote-now-btn {
    padding: 16px 24px;
    font-size: .875rem;
    position: relative;
    background-color: #f07662;
    font-size: .75rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

/* --------------- */


.Plans_boxPlans {
    background-color: #fff;
    padding: 2px 10px 5px;
}

.Plans_planName__hK-eU h1 {
    color: #343c4d;
    font-family: Georgia;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.77778px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
}

.description-link a {
    color: #009ae5;
    text-decoration: none;
}

.man-benift-btn {
    background: #d24723;
    color: #fff;
    font-family: "Source Sans 3", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 16px;
    padding: 4px 15px;
    text-transform: uppercase;
    width: fit-content;
    border: 0;
}

.plans-benefits {
    list-style: none;
    padding: 0;
}

.plans-benefits li .plans-benefits-title h2 {
    color: #343c3d;
    font-family: "Source Sans 3", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 18px;
    margin: 0;
    text-transform: uppercase;
}

.plans-benefits li .plans-benefits-title h3 {
    color: #757575;
    font-family: "Source Sans 3", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.plans-benefits li .plans-benefits-title {
    border-bottom: 1px dashed #999;
    margin-top: 15px;

}

.btn-select-benefits {
    border: 1px solid #00008f;
    color: #00008f;
    font-family: "Source Sans 3", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    gap: 8px;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 16px;
    margin: 1% 2%;
    min-height: 48px;
    text-align: center;
    text-transform: uppercase;
    width: 254px;
}

.more-benefits {
    color: #ccc;
    cursor: pointer;
    font-family: "Source Sans 3", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.addon-div {
    border: 1px solid #bababa;
    padding: 10px 20px;
    cursor: pointer;
}

.addon-div h3 {
    font-size: 18px;
    line-height: 20px;
    color: #bababa;
}

.addon-div h3 {
    font-size: 14px;
    line-height: 15px;
    color: #bababa;
}

.continue-btn {
    height: 45px;
    background: #fff;
    border: 2px solid #00008f;
    color: #00008f;
    line-height: inherit;
    font-size: 14px;
    font-weight: 600;
    max-width: 221px;
    padding-bottom: 0;
    padding-top: 1px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s;
    width: 100%;
}

.modal-content {
    border-radius: 0;
}

.modal-title {
    font-size: 24px;
    font-weight: 700;
}
